html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#app {
    background: #5E6262 url("./assets/info-layer.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
