html {
    background-color: #5E6262;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header img {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.container {
    height: 100%;
    width: 90%;
    background-image: url('~@/../public/assets/info-layer.png');
    background-size: 100% 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
}

.page {
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.dynamicPage {
    background-image: url('~@/../public/assets/info-layer.png');
    background-size: 100% 100%;
    width: 95%;
    margin: auto;
}

.select {
    background-image: url('~@/../public/assets/info-layer.png');
    background-size: 100% 100%;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn {
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
}
